/* font-family: 'Righteous', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Paytone One', sans-serif; */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegacion{
  background-color: #007A9C;
  color: white;
}

.navbar{
  -webkit-box-shadow: 0 5px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:0 5px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0 5px 20px 0px rgba(0,0,0,0.75);
  background-color: #007A9C;
  height: 8vh;
}

.galery{
  height: 92vh;
  outline: 2px solid red;
  background-color: blue;
}

ul{
  list-style: none;
}

li {
  display: inline-block;
}




@media (max-width: 575.98px) { 
  #navbarNavDropdown{
    margin-top: 30px;
  } 
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #navbarNavDropdown{
    margin-top: 30px;
  }
 }

@media (min-width: 768px) and (max-width: 991.98px) {
  #navbarNavDropdown{
    margin-top:0px; 
  }
 }

@media (min-width: 992px) and (max-width: 1199.98px) {
  #navbarNavDropdown{
    margin-top:0px; 
  }
}

@media (min-width: 1200px) {
  #navbarNavDropdown{
    margin-top:0px; 
  }
 }